.saves-section {
    border: 1px, solid, lightgray;
    background-color: white;
    width: 250px;
    height: 110px;
    box-sizing: border-box;
}

h3{
    margin: 0;
    font-weight: lighter
}

.save-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}