#flavor-bio-info-box{
    border: 1px solid lightgray;
    background-color: white;
    box-sizing: border-box;
    height: 100px;
}

h2 {
    margin: 5px;
}

h4{
    margin: 0;
    font-weight: lighter;
}