.class-ability-display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.level-action-display{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: start;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.name-action-box{
    width: 20%;
}

.ability-text-box{
    width: 80%;
    margin: auto;
    text-align: left;
}

.ability-text {
    margin: 0;
}

.ability-title {
    font-weight:bold;
    font-size: 14px;
}

p{
    font-size: 12px;
    display: block;
}