.class-ability-display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.level-action-display{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.name-action-box{
    width: 10%;
}

.ability-text-box{
    width: 80%;
    margin: auto;
    text-align: left;
}

.ability-title {
    font-weight:bold;
    font-size: 14px;
}

p{
    font-size: 12px;
    display: block;
}